<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>s_Car</servlet-name>
        <servlet-class>controller.s_Car</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s_booking</servlet-name>
        <servlet-class>controller.s_booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s_search</servlet-name>
        <servlet-class>controller.s_search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s_logout</servlet-name>
        <servlet-class>controller.s_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s_fillter</servlet-name>
        <servlet-class>controller.s_fillter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s_employee</servlet-name>
        <servlet-class>java.controller.s_employee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>s_Car</servlet-name>
        <url-pattern>/s_Car</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>s_chatBox</servlet-name>
        <servlet-class>controller.s_chatBox</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>s_chatBox</servlet-name>
        <url-pattern>/s_chatBox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s_booking</servlet-name>
        <url-pattern>/s_booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s_search</servlet-name>
        <url-pattern>/s_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s_logout</servlet-name>
        <url-pattern>/s_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s_fillter</servlet-name>
        <url-pattern>/s_fillter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s_employee</servlet-name>
        <url-pattern>/s_employee</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>s_Car</welcome-file>
    </welcome-file-list>
</web-app>
